<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Fetching the details</h1>
    <form onsubmit="onSubmitHandler(event)">
        <label>product</label>
        <input id="product" name="productName" />
    <button type="submit">Add product</button>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="/js/publicproduct.js"></script>
</body>
</html>